h1, h2, h3, p, span {
  color: white;
}

#body_1 {
  background-color: #000;
  margin: 0;
  width: 100%;
  height: 100%;
}

#head_style {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: linear-gradient(#000000, rgba(0, 0, 0, 0.6705882353), rgba(0, 0, 0, 0));
}

@media (max-width: 720px) {
  #head_style {
    display: flex;
    justify-content: space-around;
  }
  #head_style h2 {
    font-size: 20px;
  }
}
.head-right {
  display: flex;
}
.head-right .left-h2 {
  margin-right: 15px;
  cursor: pointer;
}
.head-right .right-h2 {
  margin-left: 15px;
  cursor: pointer;
}

@media (max-width: 720px) {
  .head-right {
    display: flex;
    justify-content: center;
    margin: 0;
  }
}
#about-user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
#about-user img {
  width: 450px;
  border-radius: 100%;
  margin-right: 50px;
}
#about-user h2 {
  font-size: 50px;
}
#about-user h3 {
  font-size: 35px;
}
#about-user p {
  font-size: 25px;
  width: 800px;
}

.about-style {
  margin-left: 50px;
}

@media (max-width: 720px) {
  #about-user {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
  }
  #about-user img {
    width: 300px;
    margin: 0;
  }
  #about-user h2 {
    font-size: 40px;
  }
  #about-user h3 {
    font-size: 20px;
    margin-top: -20px;
  }
  #about-user p {
    font-size: 20px;
    text-align: justify;
    width: 325px;
    margin-top: 15px;
  }
  .about-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: 10px;
  }
}
#info-user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
#info-user h3 {
  font-size: 20px;
  color: rgb(196, 52, 0);
  margin-right: 100px;
}
#info-user p {
  font-size: 25px;
  width: 800px;
  margin-left: 100px;
}

@media (max-width: 720px) {
  #info-user {
    display: flex;
    flex-direction: column;
  }
  #info-user h3 {
    margin-right: 0;
    font-size: 25px;
  }
  #info-user p {
    font-size: 20px;
    text-align: justify;
    width: 325px;
    margin-left: 0;
  }
}
#separation-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
#separation-line h2 {
  font-size: 30px;
}
#separation-line .style-line {
  border-top: 3px solid white;
  width: 150px;
}

#selected-work {
  display: grid;
  grid-template-columns: 710px 710px;
  justify-content: center;
  grid-template-rows: 405px;
  margin-top: 200px;
}
#selected-work img {
  width: 700px;
  border-radius: 15px;
  cursor: pointer;
}

@media (max-width: 750px) {
  #selected-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  #selected-work img {
    width: 100%;
  }
}
#first-work {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#background-img {
  position: absolute;
}
#background-img img {
  width: 100%;
  opacity: 20%;
}

@media (max-width: 720px) {
  #first-work {
    margin-top: 10px;
  }
  #background-img {
    display: none;
  }
}
.info-first-work {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.info-first-work img {
  height: 900px;
}

@media (max-width: 720px) {
  .info-first-work {
    display: flex;
    flex-direction: column;
  }
  .info-first-work img {
    height: 500px;
  }
}
.txt-first-work {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.txt-first-work h2 {
  font-size: 50px;
  color: rgb(196, 52, 0);
}
.txt-first-work p {
  font-size: 25px;
  text-align: center;
  width: 700px;
}

@media (max-width: 720px) {
  .txt-first-work p {
    font-size: 20px;
    width: 325px;
  }
}
#photos_up {
  display: flex;
  justify-content: center;
  position: relative;
}

#info_work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 1000px;
  width: 100%;
  top: -890px;
  background: rgba(0, 0, 0, 0.7607843137);
}
#info_work p {
  margin-top: 15px;
  font-size: 20px;
}
#info_work img {
  cursor: pointer;
  max-width: 1500px;
}

@media (max-width: 720px) {
  #info_work img {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
